* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Public Sans', sans-serif; }

/*
MEDIA QUERY MANAGER

- mini-phone     300px;      
- phone -        600px;      37.5em
- tab-port -     900px;      56.25em
- tab-land -     1200px;     75em
- big-desktop -  1800px +    112.5em
*/
.site-cta::after {
  content: "";
  font-size: 1.6rem;
  width: 100%;
  display: inline-block;
  transition: all .4s ease-out;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  border-radius: 1px; }

.site-cta:hover::after {
  transform: scale(1.4) scale(1.6);
  opacity: 0;
  z-index: 1;
  border: 2px solid #D95419; }

.site-cta {
  position: relative;
  transition: .2s ease-out;
  display: inline-block !important;
  background-color: #D95419;
  padding: 2rem 8rem !important;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; }
  .site-cta::after {
    content: "";
    font-size: 1.6rem;
    width: 100%;
    display: inline-block;
    transition: all .4s;
    height: 100%;
    position: absolute;
    background-color: #D95419;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 4px; }
  .site-cta:hover, .site-cta:active {
    text-decoration: none;
    cursor: pointer;
    color: #D95419 !important;
    background-color: #fff;
    border: 2px solid #D95419; }

.btn-read-more {
  position: absolute;
  bottom: 1.2rem;
  left: 1.8rem;
  color: #D95419;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700; }
  .btn-read-more i {
    margin-left: 1rem; }
  .btn-read-more:hover {
    text-decoration: none; }

.dropdown {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap; }
  .dropdown-menu {
    display: block; }
  .dropdown-toggle-checkbox {
    visibility: hidden;
    display: none; }
  .dropdown-toggle-label {
    cursor: pointer;
    position: relative;
    min-width: 5rem;
    margin-top: 6px; }
  .dropdown-toggle-arrow {
    transition: all .2s ease-out;
    transform: rotate(180deg);
    margin-left: 1rem; }
  .dropdown-toggle-wrapper {
    padding: 1rem 0;
    display: none;
    width: 18.2rem;
    border-radius: 4px;
    transform: translateX(-67%); }
  .dropdown-toggle-checkbox:checked ~ .dropdown-toggle-wrapper {
    display: block; }
  .dropdown-toggle-checkbox:checked ~ .dropdown-toggle-label img:last-child {
    transform: rotate(0deg); }

.dropdown-item {
  padding: .7rem 1.5rem; }
  .dropdown-item:hover {
    border-left: 4px solid #D95419 !important; }
    .dropdown-item:hover img {
      margin-left: -4px; }
  .dropdown-item img {
    margin-right: 1rem; }

.navigation {
  margin: 0 auto;
  padding: 5.3rem 0; }
  @media (min-width: 48em) {
    .navigation {
      max-width: 72rem; } }
  @media (min-width: 62em) {
    .navigation {
      max-width: 96rem; } }
  @media (min-width: 75em) {
    .navigation {
      max-width: 114rem; } }
  .navigation-wrapper {
    width: 100%;
    min-height: 77rem;
    background-image: url("assets/images/bg_image.png");
    background-size: cover;
    background-repeat: no-repeat; }

.nav-item {
  margin-right: 7rem; }

.nav-link {
  color: #b7b5b5 !important;
  padding: .7rem; }
  .nav-link:hover, .nav-link:active {
    color: #fff !important;
    border-bottom: 4px solid #D95419;
    margin-bottom: -4px; }

.navbar-wrapper {
  margin-left: -10rem !important; }

.links-wrapper {
  width: 100% !important; }

.nav-link,
.dropdown-item {
  font-size: 1.6rem; }

.site {
  padding: 9rem 0 12rem 0 !important; }

.site-heading--primary {
  font-size: 5.5rem;
  font-weight: 700;
  max-width: 48rem;
  margin-bottom: 2rem; }

.site-heading--secondary {
  font-size: 1.8rem;
  color: #b7b5b5;
  line-height: 2.8rem;
  margin-bottom: 7.9rem; }

.about-us {
  padding: 18.5rem 0 5rem 0;
  display: flex;
  justify-content: center;
  text-align: center; }
  .about-us-item {
    min-height: 283px;
    padding: 5rem 1rem;
    background-color: white; }
  .about-us--bordered {
    border-left: 1px solid #b7b5b5;
    border-right: 1px solid #b7b5b5; }
  .about-us-item-heading::after {
    content: "";
    padding-top: 3rem;
    width: 46px;
    display: block;
    margin: 0 auto;
    height: 4px;
    border-bottom: 4px solid #D95419; }

.about-us-item-heading {
  color: #171717;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2.3rem 0 3rem 0; }

.about-us-text {
  font-size: 1.6rem;
  color: #b7b5b5;
  line-height: 2.6rem; }

.heading-secondary {
  font-size: 4rem;
  line-height: 5.6rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #000; }
  .heading-secondary-space {
    margin-bottom: 10rem; }

.heading-item {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #171717; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-b-5 {
  margin-bottom: 5rem; }

.m-b-6 {
  margin-bottom: 6rem; }

.m-b-10 {
  margin-bottom: 11rem; }

.m-b-11 {
  margin-bottom: 11rem; }

.m-t-4 {
  margin-top: 4rem; }

.m-t-5 {
  margin-top: 5rem; }

.m-t-6 {
  margin-top: 6rem; }

.m-t-6 {
  margin-top: 10rem; }

.m-r-4 {
  margin-right: 4rem; }

.m-r-5 {
  margin-right: 5rem; }

.m-r-6 {
  margin-right: 6rem; }

.m-l-4 {
  margin-left: 4rem; }

.m-l-5 {
  margin-left: 5rem; }

.m-l-6 {
  margin-left: 6rem; }

.vertical-space {
  padding-top: 11rem;
  padding-bottom: 11rem; }

.top-space {
  padding-top: 11rem; }

.bottom-space {
  padding-bottom: 11rem; }

.item-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #b7b5b5; }

.products {
  padding: 10.4rem 0; }
  .products-item {
    margin: 10.5rem 0;
    max-height: 476px;
    padding: 3rem 0;
    position: relative;
    overflow: hidden; }
  .products-background-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    transform: translateX(180px);
    background-color: #f2f2f2;
    z-index: -1; }
  .products-background-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-180px);
    background-color: #f2f2f2;
    z-index: -1; }

.item-image-right {
  width: 100%; }

.item-image-left {
  width: 100%; }

.image-1 {
  max-width: 633px;
  height: auto;
  width: 128%; }

.image-2 {
  max-height: 415px;
  max-width: 495px;
  height: auto;
  width: 100%; }

.image-3 {
  max-height: 429px;
  max-width: 534px;
  height: auto;
  width: 100%; }

.gallery {
  padding-top: 12.3rem;
  background-color: #f2f2f2; }
  .gallery-image {
    padding: .8rem; }
    .gallery-image img {
      width: 100%; }
