.heading-secondary{
    font-size: 2rem;
    line-height: 5.6rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    color: #000;

    &-space{
        margin-bottom: 5rem;
        @include respond(mini-phone){
            margin-bottom: 6rem;
        }
        @include respond(phone){
            margin-bottom: 6rem;
        }
        @include respond(tab-land){
            margin-bottom: 6rem;
        }
    }
    @include respond(mini-phone){
        font-size: 2.2rem;
    }
    @include respond(phone-small){
        font-size: 2.5rem;
    }
    @include respond(phone){
        font-size: 2.8rem;
    }
    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(tab-land){
        font-size: 3.2rem;
    }

}
.heading-item{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: $heading-dark;
    @include respond(mini-phone){
        font-size: 2.4rem;
    }
    @include respond(phone-small){
        font-size: 2.6rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
    }
    @include respond(tab-land){
        font-size: 2.8rem;
    }
    @include respond(tab-port){
        font-size: 3.2rem;
    }
}
.contact-heading{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: $heading-dark;
    @include respond(tab-land){
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }
}
.site{ 
    &-heading{
        &--primary{
            font-size: 3rem;
            font-weight: 700;
            max-width: 48rem;
            margin-bottom: 2rem;
            @include respond(mini-phone){
                font-size: 3.5rem;
            }
             @include respond(phone){
                font-size: 4rem;
            }
            @include respond(tab-land){
                font-size: 4.5rem;
            }
            @include respond(tab-port){
                font-size: 5.5rem;
            }
        }
        &--secondary{
            font-size: 1.4rem;
            color: $inactive-link;
            line-height: 2rem;
            margin-bottom: 7.9rem;
            @include respond(mini-phone){
                font-size: 1.5rem;
                line-height: 2.2rem;
            }
             @include respond(phone){
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            @include respond(tab-land){
                font-size: 1.7rem;
                line-height: 2.6rem;
            }
            @include respond(tab-port){
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }
}