.site{ 
    &-heading{
        &--primary{
            font-size: 5.5rem;
            font-weight: 700;
            max-width: 48rem;
            margin-bottom: 2rem;
        }
        &--secondary{
            font-size: 1.8rem;
            color: $inactive-link;
            line-height: 2.8rem;
            margin-bottom: 7.9rem;
        }
    }
}