.gallery{
    padding-top: 12.3rem;
    background-color: $light-gray-bg;

    &-image{
        text-align: center;
        padding: .8rem;
        img{
            width: 80%;
            @include respond(phone){
                width: 100%;
            }
        }
       
    }
}