
.dropdown{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-left: auto;
    transform: translateY(-60%);
    @include respond(phone){
        transform: translateY(0%);
        margin: 0;
    }
    &-menu{
        display: block;
    }
    &-toggle{
        &-checkbox{
          visibility: hidden;
          display: none;
        }
        &-label{
            cursor: pointer;
            position: relative; 
            min-width: 5rem;
            margin-top: 6px;
        }
        &-arrow{
            transition: all .2s ease-out;
            transform: rotate(180deg);
            margin-left: 1rem;
        }
        &-wrapper{
            padding: 1rem 0;
            display: none;
            width: 18.2rem;
            border-radius: 4px;
            transform: translateX(-67%);
        }
        &-checkbox:checked ~ &-wrapper{
            display: block;
        }
        &-checkbox:checked ~ &-label img:last-child{
            transform: rotate(0deg);
        }
       
    }
}
.dropdown-item{
    padding: .7rem 1.5rem;

    &:hover{
        border-left: 4px solid $btn-orange !important;
        img{
            margin-left: -4px;
        }
    }
    img{
        margin-right: 1rem;
    }
}
.navigation{
    margin: 0 auto;
    padding: 5.3rem 0;

    @include respond(phone){

        max-width: 72rem;
    }
    @include respond(tab-port){
        max-width: 96rem;
    }
    @include respond(tab-land){
        max-width: 114rem;
    }
    &-wrapper{
        width: 100%;
        min-height: 77rem;
        background-image: url('assets/images/bg_image.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.nav-item{
    margin-right: 2rem;
    @include respond(phone){
        margin-right: 7rem !important;
    }
}
.nav-link{
    color: $inactive-link !important;
    padding: .7rem ;
    &:hover,
    &:active{
        color: $active-link !important;
        border-bottom: 4px solid $btn-orange;
        margin-bottom: -4px;
    }
}
.navbar-wrapper{
    @include respond(phone){
        margin-left: -10rem !important;
    }
    

}
.links-wrapper{
   width: 100% !important;
   flex-direction: column;
   text-align: left;
   &:not(:last-child){
    align-items: flex-start;
   }

}
