
.dropdown{
    position: relative;
    display: flex;
    @include respond(phone){
        display: flex;
    }

    &-menu{
        display: block;
        position: absolute;
    }
    &-toggle{
        &-checkbox{
          visibility: hidden;
          display: none;
        }
        &-label{
            cursor: pointer;
            min-width: 5rem;
            margin-top: 6px;
            
        }
        &-arrow{
            transition: all .2s ease-out;
            transform: rotate(180deg);
            margin-left: 1rem;
        }
        &-wrapper{
            padding: 1rem 0;
            width: 18.2rem;
            position: absolute;
            z-index: 5;
            border-radius: 4px;
            background-color: #fff;
            transform: translateX(-67%);
            display: none;
        }
        &-checkbox:checked ~ &-wrapper{
            display: block;
        }
        &-checkbox:checked ~ &-label img:last-child{
            transform: rotate(0deg);
        }
       
    }
}
.dropdown-item{
    padding: .7rem 1.5rem;

    &:hover{
        border-left: 4px solid $btn-orange !important;
        img{
            margin-left: -4px;
        }
    }
    img{
        margin-right: 1rem;
    }
}
.navigation{
    margin: 0 auto;
    padding: 2rem 1.5rem;

    @include respond(phone){

        max-width: 72rem;
    }
    @include respond(tab-port){
        max-width: 96rem;
    }
    @include respond(tab-land){
        max-width: 114rem;
    }
    &-background{
        width: 100%;
        min-height: 77rem;
        background-image: url('assets/images/bg_image.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-wrapper{
        background-color: $heading-dark;
        position: relative;
        @include respond(phone){
            background-color: transparent;
        }
    }
}
.nav-item{
    margin-right: 0rem;
    @include respond(phone){
        margin-right: 7rem !important;
    }
}
.nav-link{
    color: $inactive-link !important;
    padding: .7rem ;
    &:hover,
    &:active{
        color: $active-link !important;
        border-bottom: 4px solid $btn-orange;
        margin-bottom: -4px;
    }
}
.navbar-wrapper{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column !important;
    @include respond(phone){
        display: flex;
        width: auto;
        flex-direction: row !important;
    }

    

}
.links-wrapper{
   flex-direction: column;
   justify-content: space-between;
    @include respond(phone){
        flex-direction: row;
    }
}
.logo{
    align-self: flex-start;
}
.nav-item{
    border-bottom: 1px solid $inactive-link;
    @include respond(phone){
        border-bottom: none;
    }
}
.toggle-wrapper{
    margin-top: 3rem;
    @include respond(phone){
        margin-top: 0;
    }
}

.sm-hide{
    display: none;
    @include respond(phone){
        display: flex;
    }
}