.products{
    padding: 2rem 0;
    @include respond(phone){
        padding: 10.4rem 0;
    }
    &-item{
        margin: 10.5rem 0;
        padding: 3rem 0;
        position: relative;
        overflow-x: hidden;
       
    }
    &-background{
        &-right{
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 50%;
            max-height: 280px;
            max-width: 400px;
            transform: translateX(80px);
            background-color: #f2f2f2;
            z-index: -1;
            @include respond(phone-small){     
                 right: 0;
                 bottom: 0;
                 width: 50%;
                 height: 100%;
                 max-height: 400px;
                 background-color: $image-back;
                 z-index: -1;
                 transform: translateX(100px);
            }
            @include respond(tab-port){
                max-width: auto;
                transform: translateX(160px);
            }
            @include respond(tab-land){
                transform: translateX(180px);
            }
        }
        &-left{
            position: absolute;
            background-color: $image-back;
            z-index: -1;
            top: 0;
            width: 100%;
            height: 50%;
            max-height: 320px;
            max-width: 400px;
            transform: translateX(-80px);
            @include respond(phone-small){
                left: 0;
                bottom: 0;
                width: 60%;
                height: 100%;
                max-height: 400px;
            }
            @include respond(phone){
                left: 0;
                bottom: 0;
                width: 50%;
                height: 100%;
                max-width: auto;
            }
            @include respond(tab-land){
                transform: translateX(-180px);
            }
        }
    }

}
.item-image{
    &-right{
        width: 80%;
        @include respond(phone-small){
           width: 100%;
        }
    }
    &-left{
        width: 80%;
        @include respond(phone-small){
            width: 100%;
         }
    }
}
.image{
    &-1{
        width: 85%;
        max-width: 480px;
        @include respond(phone-small){
            width: 128%;
        }
    }
    &-2{
       width: 100%;

       @include respond(tab-land){
        max-width: 495px;
       }
    }
    &-3{
        width: 100%;
        @include respond(tab-land){
            max-width: 534px;
        }
    }
}
.item-sm-reverse{
    display: grid;

    @include respond(phone-small){
        display: flex;
    }
}
.row-1{
    order: 2;
    
    @include respond(phone-small){
        order: 1;
    }
}
.row-2{
    order: 1;
    
    @include respond(phone-small){
        order: 2;

    }
}