.heading-secondary{
    font-size: 4rem;
    line-height: 5.6rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    color: #000;
    &-space{
        margin-bottom: 10rem auto;
    }
}