.heading-secondary{
    font-size: 4rem;
    line-height: 5.6rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    color: #000;
    &-space{
        margin-bottom: 10rem;
    }
}
.heading-item{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: $heading-dark;
}