.m{
    &-b-4{
        margin-bottom: 4rem;        
    }
    &-b-5{
        margin-bottom: 5rem;
    }
    &-b-6{
        margin-bottom: 6rem;
    }
    &-t-4{
        margin-top: 4rem;
    }
    &-t-5{
        margin-top: 5rem;
    }
    &-t-6{
        margin-top: 6rem;
    }
    &-r-4{
        margin-right: 4rem;
    }
    &-r-5{
        margin-right: 5rem;
    }
    &-r-6{
        margin-right: 6rem;
    }
    &-l-4{
        margin-left: 4rem;
    }
    &-l-5{
        margin-left: 5rem;
    }
    &-l-6{
        margin-left: 6rem;
    }
 
}