.item-text{
    font-size: 1.2rem;
    line-height: 2rem;
    color: $inactive-link;

    @include respond(mini-phone){
        font-size: 1.3rem;
        line-height: 2.1rem;
    }
    @include respond(phone-small){
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
    @include respond(phone){
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
    @include respond(tab-land){
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    @include respond(tab-port){
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
}